#pragma once

#include <vector>

namespace leetcode::{{ program_cname }} {
std::vector<int> Solve(const std::vector<int>&, int);

namespace standard {
std::vector<int> Solve(const std::vector<int>&, int);
}  // namespace standard

}  // namespace leetcode::{{ program_cname }}