#include "solution.h"

namespace leetcode::{{ program_cname }} {
{% if not systemdesign %}
{{ return.c_type }} Solve(
{% for p in params %}   {% if not p.need_ref %}{{ p.c_type }}{% else %}const {{ p.c_type }}&{% endif %} {{p.name}} {% if not loop.is_last %},
{% endif %}{% endfor %}) {
  // TODO(): your solution here
  return {};
}

namespace standard {
{{ return.c_type }} Solve(
{% for p in params %}   {% if not p.need_ref %}{{ p.c_type }}{% else %}const {{ p.c_type }}&{% endif %} {{p.name}} {% if not loop.is_last %},
{% endif %}{% endfor %}) {
  // TODO(): official answer here
  return {};
}
}  // namespace standard
{% else %}
{{classname}}::{{classname}}({% for p in constructor.params %}{% if not p.need_ref %}{{ p.c_type }}{% else %}const {{ p.c_type }}&{% endif %}{{p.name}}{% if not loop.is_last %}, {% endif %}{% endfor %}) {}

{% for m in methods %}
{{m.return.c_type}} {{classname}}::{{m.name}}({% for p in m.params %}{% if not p.need_ref %}{{ p.c_type }}{% else %}const {{ p.c_type }}&{% endif %} {{p.name}} {% if not loop.is_last %},{% endif %}{% endfor %}){
  return {};
}{% endfor %}

{% endif %}
}  // namespace leetcode::{{ program_cname }}